body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#250e63, #2d0f6d, #461bba);
}

.main-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgba(0,0,0,0.2);
} 

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #260E65;
  z-index: 999;
}

.logo {
    text-decoration: none;
}

/*SVG*/
@keyframes changeFill {
    10% {
        fill: #000000;
    }

    55% {
        fill: #ffffff;
    }

    100% {
         fill: #ff0000;
    }
}

text.sketch {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-dasharray: 3 3;
    fill: none;
}


.nav {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.5s;
}

.link:hover::after {
  width: 100%;
}
.link:hover {
    color: #ff0000;
}



/*about*/
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    background-color: transparent;
}

.main-about {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: rgba(73, 75, 80,0.3);
    max-width: 1320px;
    max-height: 674px;
    padding: 3rem;
    opacity: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.profile-datails {
    display: flex;
}

.profile {
    height: 445px;
    width: 354px;
}

.img-profile {
    margin-bottom: 6rem;
    height: 445px;
    width: 354px;
    border-radius: 17px;
}

.support {
    padding-top: 6rem;
    margin-left: -3rem;
}


.personal-info{
    background-color: #db1e1e;
    display: flex;
    justify-content: center;
    min-width: 47%;
    border-radius: 1rem;
}

.details{
    padding: 36px 5px 35px;
    list-style-type: none;
    color: white;
}

.tittle-info{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 2px;
    padding-bottom: 6px;
}

.info{
    padding: .7rem;
}

.per-info {
    font-size: 18px;
}

.description {
    width: 45%;
}

h4{
    color: #db1e1e;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 6px;
    display: inline-block;
}

h1{
    padding-top: 1rem;
    color: white;
    font-size: 47px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 1rem;
}

.sub-title{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.8;
    color: #D3D7DF;
}

.text {
    padding-top: 2rem;
    font-size: 19px;
    color: #A7AFBD;
    line-height: 1.8;
}

.CV .btn{
    font-size: 15px;
    color: white;
    font-weight: bolder;
    margin-top: 2.4rem;
    background-color: #db1e1e;
    padding: 16px 50px;
    border: 1px solid #db1e1e;
    border-radius: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #341383;
    color: #db1e1e;
}

/* Skils */

#skills {
    margin-top: 6%;
}

.skills-tittle {
    text-align: center;
    font-size: 36px;
}

.skill-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  width: 100%;
}

.data-skill-container {
    width: 23%;
  margin-bottom: 20px;
    text-align: center;
    color: white;
    opacity: 0;
}


.skill-img {
    width: 100px;
    height: 100px;
    margin: 0;
    padding-bottom: 8px;
}


/* Projects */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 8%;
}


.poke-api {
    display: flex;
    background-color: rgba(73, 75, 80,0.3);
    width: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 20px;
    opacity: 0;
}

.text-cont {
    color: white;
    width: 50%;
}

.images {
    height: 60px;
}

.images > .icon {
    width: 32px;
    height: 32px;
}

.img-container {
    width: 300px;
    height: 240px;
}

.pokedex-cap {
    width: 300px;
    height: 240px;
}

.link-project {
    padding: 10px;
    border: 2px solid #db1e1e;
    text-decoration: none;
    border-radius: 6px;
    color: white;
    background-color: #db1e1e;
}

.link-project:hover {
    background-color: #341383;
}

.comment {
    width: 400px;
}


/* Form */

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    opacity: 0;
}

.contact-tittle {
    font-size: 36px;
}

form {
    width: 30%;
    padding: 18px;
    background-color: rgba(73, 75, 80,0.3);
    border-radius: 12px;
}

form > div {
    display: flex;
    flex-direction: column;
    padding: 22px;
}

div > input {
    outline-color: #ff0000;
   height: 40px;
   border-radius: 8px;
}

div > label {
    color: white;
    margin-bottom: 8px;
    font-size: 17px;
}

div > #message {
    outline-color: #ff0000;
    padding-top: 8px;
    height: 30%;
    border-radius: 5px;
}

.send-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-button {
    background: #ff0000;
    font-size: 19px;
    font-weight: bolder;
    border-radius: 6px;
    padding: 10px 0 10px 0;
    width: 40%;
    color: white;
}

.send-button:hover {
    background: #fff;
    color: #ff0000;
}

/* footer */
.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
}

.text-footer {
    padding: 6px;
}
